@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0908;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* spacing for the code bit at section 4*/
.custom-code-spacing {
  line-height: 1.125;
  letter-spacing: 0.02em;
}

@layer utilities {
  .text-shadow-white {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
}

/* Ensure the fonts are applied globally */
.markdown-content {
  font-family: var(--font-geist-sans), sans-serif; /* Apply the Geist Sans font */
}

/* You can also apply a fallback font in case the custom font isn't loaded */
.markdown-content code {
  font-family: var(--font-geist-mono), monospace; /* Apply Geist Mono for code blocks */
}

.markdown-content p {
  margin-bottom: 1rem;
}

.markdown-content h2 {
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-size: x-large;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}